$black: #000;
$grey-dark: #363636;
$grey-mid:   #5A5550;
$grey-light: #B7B7B7;
$orange: #F85439;
$red: #ff0000;
$white: #fff;
$offwhite: #f4f4f4;
$teal-dark: #165458;
$teal: #23848A;
$teal-light: #5EACB8;
$green: #1BA37B;
