.about-alternating{
  position: relative;
  min-height: 33vw;
  display: flex;
  justify-content: flex-end;
  align-items: center;

  &__container{
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }

  &__image{
    height: 100%;
    display: block;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    width: 33vw;
    height: 33vw;
    top: 0;
    left: 0;

    img{
      display: block;
    }
  }

  &__social{
    position: absolute;
    bottom: 0;
    right: 0;
    display: flex;

    &-item{
      background: $teal-light;
      transition: .25s all ease;
      height: 7.4rem;
      width: 7.4rem;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-left: 1px;

      svg{
        width: 3rem;
        height: 3rem;
        display: flex;
        justify-content: center;
        align-items: center;
      }

      path{
        fill: white;
      }

      &:hover{
        background: rgba(112, 186, 206, 1);
      }
    }
  }

  &__content{
    max-width: 63rem;
  }

  &__title{
    font-family: $heading;
    font-style: normal;
    font-weight: 900;
    font-size: 36px;
    line-height: 42px;
    letter-spacing: 0.01em;
    text-transform: capitalize;
    margin: 20px 0 30px;
  }

  &__copy{
    font-family: $body;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 28px;
  }

  &__subtitle{
    color: rgba(255,255,255,0.3);

    &::before{
      background-color: $white;
    }
  }

  &:nth-of-type(2n){

    .about-alternating__container{
      justify-content: flex-start;
    }

    .about-alternating__title, .about-alternating__copy{
      color: $grey-dark;
    }

    .about-alternating__subtitle{
      color: rgba(0, 0, 0, 0.3);

      &:before{
        background-color: $black;
      }
    }

    .about-alternating__image{
      left: auto;
      right: 0;
      order: 2;
    }

    .about-alternating__social{
      right: 33vw;
    }

  }

  &--dark{
    color: $white;
    background-color: $teal;
  }

  @include breakpoint( 1050px ){
    height: auto;

    &__container{
      justify-content: space-between;
      padding: 0;
      position: relative;
    }

    &__image{
      width: 40rem;
      height: 40rem;
      position: static;
    }

    &__content{
      max-width: calc(100% - 44rem);
    }

    &__social{
      bottom: auto;
      top: 0;
    }

    &:nth-of-type(2n){

      .about-alternating__container{
        justify-content: space-between;
      }

      .about-alternating__content{
        padding-left: 4rem;
      }

      .about-alternating__social{
        right: 40rem;
      }


    }
  }

  @include breakpoint( 820px ){
    &__container{
      flex-wrap: wrap;
    }

    &__content{
      max-width: 100%;
      padding: 3rem 2rem;
    }

    &__image{
      width: 100%;
      height: 100%;

      img{
        width: 100%;
      }
    }

    &:nth-of-type(2n){
      .about-alternating__image{
        order: 1;
      }
      .about-alternating__content{
        order: 2;
        padding-left: 2rem;
      }
      .about-alternating__social{
        top: 0;
        right:0;
      }
    }
  }
}
