.author{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 2rem;
  padding-left: 2rem;
  border-left: 1px solid #B3B3B3;

  &__info{
    font-family: $heading;
    font-style: normal;
    font-weight: 900;
    font-size: 12px;
    line-height: normal;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    margin-left: 2rem;
  }

  &__image{
    width: 4rem;
    height: 4rem;
    flex-shrink: 0;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 100%;
    border: 1px solid $white;
  }
}
