.categories-nav{
  background-color: $offwhite;
  padding-bottom: 3.2rem;

  &__container{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__item{
    color: rgba(0, 0, 0, 0.3);
    flex-grow: 1;
    border-bottom: 2px solid rgba(0, 0, 0, 0.3);
    text-align: center;
    padding: 3rem 0;
    transition: .25s all ease;
    font-family: $heading;
    text-decoration: none;
    font-style: normal;
    font-weight: 900;
    font-size: 14px;
    line-height: normal;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: uppercase;

    &:hover{
      color: rgba(0, 0, 0, 0.5);
      border-color: $green;
      background-color: rgba(0,0,0,0.1);
    }

    &--active{
      color: $green;
      border-bottom: 3px solid $green;
    }

  }

  @include breakpoint( 750px ){
    &__container{
      flex-wrap: wrap;
      padding-top: 2rem;
    }

    &__item{
      width: calc(33% - 2px);
      border: none;
      padding: 1rem;
      background-color: $white;
      margin: 1px;

      &--active{
        background-color: $green;
        color: $white;
      }
    }
  }

}
