.client-slider{
  position: relative;

  *{
    outline: none;
  }

  &__container{
    overflow: hidden;
  }

  .slick-list{
    overflow: visible;
  }

  &__container{
    position: relative;
    z-index: 2;
    max-width: 100%;
    padding: 12rem 0 12rem 20rem;
  }

  &__item{
    position: relative;
    margin-left: 50px;
    opacity: 0;
    transition: .25s all ease;

    &-link{
      margin-bottom: 20px;
      font-weight: bold;
      font-family: $heading;
      letter-spacing: 0.02em;
    }

    &-total{
      font-family: $heading;
      color: rgba(255,255,255,0.45);
      strong{
        color: $white;
        opacity: 1;
      }
    }

    &-footer{
      font-family: $body;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-end;
    }

    &-count{
      font-family: $heading;
      font-style: normal;
      font-weight: bold;
      font-size: 75px;
      line-height: normal;
      letter-spacing: -0.02em;

      color: rgba(255, 255, 255, 0.15);
    }

    &-title{
      font-family: $heading;
      font-style: normal;
      font-weight: 900;
      font-size: 48px;
      line-height: 56px;
      letter-spacing: 0.01em;
      text-transform: capitalize;
      color: $white;
      position: relative;
      left: 25rem;
    }

    &-content{
      position: absolute;
      height: 100%;
      left: -375px;
      width: 375px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: flex-end;
      padding-right: 25px;
      opacity: 0;
      transition: .25s all ease;
    }

    &-image{
      width: 100%;
    }

    &.slick-active{
      opacity: .35;
    }

    &.slick-current{
      opacity: 1;

      // &::after{
      //   content: "";
      //   position: absolute;
      //   background: rgba(255,255,255,0.12);
      //   mix-blend-mode: overlay;
      //   -webkit-transform: rotate(31.25deg);
      //   transform: rotate(31.25deg);
      //   width: 50%;
      //   height: 300rem;
      //   z-index: 2;
      //   left: 0%;
      //   top: -50rem;
      //   pointer-events: none;
      // }

      .client-slider__item-content{
        opacity: 1;
      }
    }
  }

  &__background{
    @include content100;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    z-index: 1;
    opacity: 1;
  }

  .slick-arrow{
    display: none;
  }

  @media screen and (min-width: 740px){
    .slick-arrow{
      position: absolute;
      border: solid white;
      border-width: 0 5px 5px 0;
      width: 25px;
      height: 25px;
      display: block;
      padding: 3px;
      z-index: 10;
      text-indent: -99999px;
      padding: 0;
      margin: 0;
      cursor: pointer;
    }

    .slick-next{
      top: calc(50% - 15px);
      right: 10px;
      transform: rotate(-45deg);
    }

    .slick-prev{
      top: calc(50% - 15px);
      left: 10px;
      transform: rotate(135deg);
    }
  }

  @include breakpoint( 740px ){

    &__container{
      padding: 3.5rem 0 3.5rem 12rem;
    }

    &__item{
      margin-left: 0;

      &-image{
        display: none!important;
      }

      &-image--mobile{
        display: block;
        height: 40rem;
        width: 100%;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
      }

      &-content {
        left: -31rem;
        width: 32rem;
      }

      &-count{
        font-size: 32px;
      }

      &-title{
        font-size: 32px;
        text-align: left;
        left: 22rem;
        line-height: 1.5;
      }
    }
  }
}
