.demo-cta{
  background-color: $grey-mid;
  padding-top: 5rem;

  &__container{
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__content{
    margin-left: 4.5rem;
  }

  h2, p{
    color: $white;
    text-align: left;
  }

  .button{
    margin-top: 2rem;
  }

  @include breakpoint( 900px ){

    &__content{
      text-align: center;
      margin: 0;

      h2, p{
        text-align: center;
      }
    }
    &__container{
      flex-direction: column;
      flex-flow: column-reverse;

      img{
        margin-top: 2rem;
      }
    }
  }
}
