.footer-global{
  background-color: $black;

  &__container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 0;
  }

  &__logo{
    font-size: 24px;
    color: $white;
    display: flex;
    justify-content: center;
    align-items: center;
    img{
      margin-right: 1rem;
    }
  }

  &__legal{
    font-size: 2rem;
    color: $white;
  }
}
