.header-global{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: $blue-light;
  transition: all ease .3s;

  &__container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 0 1rem;
    border-bottom: 2px solid $white;
  }

  &__logo{
    font-size: 24px;
    color: $white;
    display: flex;
    justify-content: center;
    align-items: center;
    svg{
      fill: $white;
      display: block;
      margin-right: 1rem;
    }
  }

  &__nav{

    &-item{
      color: $white;
      font-size: 20px;
      margin-left: 15px;
    }
  }

  &--scrolled{
    background-color: $navy;

    .container{
      border-bottom: none;
    }
  }
}
