.pitch{
  padding: 10rem 0 2rem;
  background-color: $offwhite;

  &__intro{
    text-align: center;
    max-width: 625px;
    margin: 0 auto 75px;

    h2{
      margin-bottom: 2rem;
    }

  }

  &__item{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5rem 0 6rem;
    border-bottom: 1px solid $grey-dark;

    img{
      margin-right: 10rem;
    }

    &:first-of-type{
      border-top: 1px solid $grey-dark;
    }

    &:last-of-type{
      border-bottom: none;
    }
  }

  &__actions{
    margin-top: 2rem;
    display: flex;

    a + a{
      margin-left: 1rem;
    }
  }

  h2, h3, p{
    color: $grey-dark;
  }

  p{
    font-size: 16px;
    line-height: 32px;
  }

  &:nth-of-type(3){
    background-color: $grey-light;
  }

  &--single{
    background-color: #D9D9D9;
    padding: 2rem;

    .pitch__item{
      border: none;
    }
  }

  @include breakpoint( 900px ){
    &__item{
      flex-direction: column;

      img{
        margin: 0 0 2rem;
        width: 100%;
      }
    }
  }
}
