<section class="about-alternating about-alternating--@@color">
  <div class="container about-alternating__container">
    <div class="about-alternating__image">
      <img src="assets/resources/@@image" alt="">
    </div>
    <div class="about-alternating__content">
      <h3 class="eyebrow about-alternating__subtitle">Chief Executive Officer</h3>
      <h2 class="about-alternating__title">
        John Smith
      </h2>
      <p class="about-alternating__copy">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
    </div>
    <div class="about-alternating__social">
      <a href="#" class="about-alternating__social-item">
        @@include('../../assets/resources/twitter.svg')
      </a>
      <a href="#" class="about-alternating__social-item">
        @@include('../../assets/resources/linked-in.svg')
      </a>
    </div>
  </div>
</section>
