<section class="centered-cta @@class">
  <div class="centered-cta__background" style="background-image:url(assets/resources/@@background);"></div>
  <div class="container centered-cta__container">
    <h6 class="centered-cta__subtitle">Our Vision</h6>
    <h3 class="centered-cta__title">Signature Phrase</h3>
    <p class="centered-cta__copy">
      Our mission is to level the playing field for teams that envision a better future.
    </p>
    <a href="#" class="button button--green">
      <span class="button__label">Learn More</span>
    </a>
  </div>
</section>
