<section class="client-slider">
  <div class="container client-slider__container">
    <div class="client-slider__wrapper">
      <div class="client-slider__item">
        <div class="client-slider__item-content">
          <span class="client-slider__item-count">01</span>
          <h4 class="client-slider__item-title">
            Instance or Client Name
          </h4>
          <div class="client-slider__item-footer">
            <a href="#" class="client-slider__item-link">Details</a>
            <span class="client-slider__item-total"><strong>01</strong>/04</span>
          </div>
        </div>
        <img class="client-slider__item-image" src="assets/resources/client-slider__image-1.png">
        <div class="client-slider__item-image--mobile" style="background-image: url(assets/resources/client-slider__image-1.png)"></div>
      </div>
      <div class="client-slider__item">
        <div class="client-slider__item-content">
          <span class="client-slider__item-count">02</span>
          <h4 class="client-slider__item-title">
            Instance or Client Name
          </h4>
          <div class="client-slider__item-footer">
            <a href="#" class="client-slider__item-link">Details</a>
            <span class="client-slider__item-total"><strong>02</strong>/04</span>
          </div>
        </div>
        <img class="client-slider__item-image" src="assets/resources/client-slider__image-1.png">
        <div class="client-slider__item-image--mobile" style="background-image: url(assets/resources/client-slider__image-1.png)"></div>
      </div>
      <div class="client-slider__item">
        <div class="client-slider__item-content">
          <span class="client-slider__item-count">03</span>
          <h4 class="client-slider__item-title">
            Instance or Client Name
          </h4>
          <div class="client-slider__item-footer">
            <a href="#" class="client-slider__item-link">Details</a>
            <span class="client-slider__item-total"><strong>03</strong>/04</span>
          </div>
        </div>
        <img class="client-slider__item-image" src="assets/resources/client-slider__image-1.png">
      </div>
      <div class="client-slider__item">
        <div class="client-slider__item-content">
          <span class="client-slider__item-count">04</span>
          <h4 class="client-slider__item-title">
            Instance or Client Name
          </h4>
          <div class="client-slider__item-footer">
            <a href="#" class="client-slider__item-link">Details</a>
            <span class="client-slider__item-total"><strong>04</strong>/04</span>
          </div>
        </div>
        <img class="client-slider__item-image" src="assets/resources/client-slider__image-1.png">
        <div class="client-slider__item-image--mobile" style="background-image: url(assets/resources/client-slider__image-1.png)"></div>
      </div>
      <div class="client-slider__item">
        <div class="client-slider__item-content">
          <span class="client-slider__item-count">04</span>
          <h4 class="client-slider__item-title">
            Instance or Client Name
          </h4>
          <div class="client-slider__item-footer">
            <a href="#" class="client-slider__item-link">Details</a>
            <span class="client-slider__item-total"><strong>04</strong>/04</span>
          </div>
        </div>
        <img class="client-slider__item-image" src="assets/resources/client-slider__image-1.png">
        <div class="client-slider__item-image--mobile" style="background-image: url(assets/resources/client-slider__image-1.png)"></div>
      </div>
      <div class="client-slider__item">
        <div class="client-slider__item-content">
          <span class="client-slider__item-count">04</span>
          <h4 class="client-slider__item-title">
            Instance or Client Name
          </h4>
          <div class="client-slider__item-footer">
            <a href="#" class="client-slider__item-link">Details</a>
            <span class="client-slider__item-total"><strong>04</strong>/04</span>
          </div>
        </div>
        <img class="client-slider__item-image" src="assets/resources/client-slider__image-1.png">
        <div class="client-slider__item-image--mobile" style="background-image: url(assets/resources/client-slider__image-1.png)"></div>
      </div>
      <div class="client-slider__item">
        <div class="client-slider__item-content">
          <span class="client-slider__item-count">04</span>
          <h4 class="client-slider__item-title">
            Instance or Client Name
          </h4>
          <div class="client-slider__item-footer">
            <a href="#" class="client-slider__item-link">Details</a>
            <span class="client-slider__item-total"><strong>04</strong>/04</span>
          </div>
        </div>
        <img class="client-slider__item-image" src="assets/resources/client-slider__image-1.png">
        <div class="client-slider__item-image--mobile" style="background-image: url(assets/resources/client-slider__image-1.png)"></div>
      </div>
      <div class="client-slider__item">
        <div class="client-slider__item-content">
          <span class="client-slider__item-count">04</span>
          <h4 class="client-slider__item-title">
            Instance or Client Name
          </h4>
          <div class="client-slider__item-footer">
            <a href="#" class="client-slider__item-link">Details</a>
            <span class="client-slider__item-total"><strong>04</strong>/04</span>
          </div>
        </div>
        <img class="client-slider__item-image" src="assets/resources/client-slider__image-1.png">
        <div class="client-slider__item-image--mobile" style="background-image: url(assets/resources/client-slider__image-1.png)"></div>
      </div>
    </div>
  </div>
  <div class="client-slider__background" style="background-image:url(assets/resources/client-slider__background.png)"></div>
</section>
