<section class="company-stories">
  <a href="#" class="company-stories__item">
    <div class="company-stories__item-images">
      <img class="company-stories__item-color-img" src="assets/resources/company-stories__color.svg">
      <img class="company-stories__item-default-img" src="assets/resources/company-stories__default.svg">
    </div>
    <h6 class="company-stories__item-title">Company Name</h6>
    <div class="company-stories__item-copy">
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore</p>
    </div>
  </a>
  <a href="#" class="company-stories__item">
    <div class="company-stories__item-images">
      <img class="company-stories__item-color-img" src="assets/resources/company-stories__color.svg">
      <img class="company-stories__item-default-img" src="assets/resources/company-stories__default.svg">
    </div>
    <h6 class="company-stories__item-title">Company Name</h6>
    <div class="company-stories__item-copy">
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore</p>
    </div>
  </a>
  <a href="#" class="company-stories__item">
    <div class="company-stories__item-images">
      <img class="company-stories__item-color-img" src="assets/resources/company-stories__color.svg">
      <img class="company-stories__item-default-img" src="assets/resources/company-stories__default.svg">
    </div>
    <h6 class="company-stories__item-title">Company Name</h6>
    <div class="company-stories__item-copy">
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore</p>
    </div>
  </a>
</section>
