<section class="hero @@class">
  <div class="hero__content container">
    <div class="hero__wrapper">
      <h2 class="hero__eyebrow eyebrow hie">    
      </h2>
      <h1 class="hero__title">
        Headline set on two lines.
      </h1>
      <p class="hero__copy">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.
      </p>
      <a href="#" class="button button--white button--arrow button--primary">
        <span class="button__label">
          Explore
        </span>
        <span class="button__arrow">
          <img src="assets/resources/key.svg">
        </span>
      </a>
    </div>
  </div>
  <div class="hero__image" style="background-image: url(assets/resources/@@image);"></div>
</section>
