<section class="logo-slider">
  <div class="container logo-slider__container">
    <div class="wrapper logo-slider__wrapper">
      <a href="#" class="logo-slider__item">
        <img src="assets/resources/logo-slider-1.png">
      </a>
      <a href="#" class="logo-slider__item">
        <img src="assets/resources/logo-slider-1.png">
      </a>
      <a href="#" class="logo-slider__item">
        <img src="assets/resources/logo-slider-1.png">
      </a>
      <a href="#" class="logo-slider__item">
        <img src="assets/resources/logo-slider-1.png">
      </a>
      <a href="#" class="logo-slider__item">
        <img src="assets/resources/logo-slider-1.png">
      </a>
      <a href="#" class="logo-slider__item">
        <img src="assets/resources/logo-slider-1.png">
      </a>
      <a href="#" class="logo-slider__item">
        <img src="assets/resources/logo-slider-1.png">
      </a>
      <a href="#" class="logo-slider__item">
        <img src="assets/resources/logo-slider-1.png">
      </a>
      <a href="#" class="logo-slider__item">
        <img src="assets/resources/logo-slider-1.png">
      </a>
      <a href="#" class="logo-slider__item">
        <img src="assets/resources/logo-slider-1.png">
      </a>
      <a href="#" class="logo-slider__item">
        <img src="assets/resources/logo-slider-1.png">
      </a>
      <a href="#" class="logo-slider__item">
        <img src="assets/resources/logo-slider-1.png">
      </a>
      <a href="#" class="logo-slider__item">
        <img src="assets/resources/logo-slider-1.png">
      </a>
      <a href="#" class="logo-slider__item">
        <img src="assets/resources/logo-slider-1.png">
      </a>
      <a href="#" class="logo-slider__item">
        <img src="assets/resources/logo-slider-1.png">
      </a>
      <a href="#" class="logo-slider__item">
        <img src="assets/resources/logo-slider-1.png">
      </a>
      <a href="#" class="logo-slider__item">
        <img src="assets/resources/logo-slider-1.png">
      </a>
      <a href="#" class="logo-slider__item">
        <img src="assets/resources/logo-slider-1.png">
      </a>
      <a href="#" class="logo-slider__item">
        <img src="assets/resources/logo-slider-1.png">
      </a>
      <a href="#" class="logo-slider__item">
        <img src="assets/resources/logo-slider-1.png">
      </a>
      <a href="#" class="logo-slider__item">
        <img src="assets/resources/logo-slider-1.png">
      </a>
      <a href="#" class="logo-slider__item">
        <img src="assets/resources/logo-slider-1.png">
      </a>
      <a href="#" class="logo-slider__item">
        <img src="assets/resources/logo-slider-1.png">
      </a>
      <a href="#" class="logo-slider__item">
        <img src="assets/resources/logo-slider-1.png">
      </a>
      <a href="#" class="logo-slider__item">
        <img src="assets/resources/logo-slider-1.png">
      </a>

      <a href="#" class="logo-slider__item">
        <img src="assets/resources/logo-slider-1.png">
      </a>
    </div>
  </div>
</section>
