<section class="news-accordion @@class">
  <div class="news-accordion__preview" style="background-image: url(assets/resources/@@image);">
    <div class="container news-accordion__container">
      <h6 class="news-accordion__subtitle">Service Descriptor</h6>
      <h2 class="news-accordion__title">Company Name</h2>
    </div>
    <a href="#" class="news-accordion__trigger">
      <span class="news-accordion__trigger-line"></span>
      <span class="news-accordion__trigger-line"></span>
    </a>
  </div>
  <div class="news-accordion__full">
    <div class="container news-accordion__container">
      <div class="news-accordion__content">
        <h5 class="news-accordion__content-title">
          Goal Headline
        </h5>
        <p class="news-accordion__content-copy">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum beatae doloremque, hic expedita. Omnis illo, veniam rerum, exercitationem neque distinctio nisi inventore doloribus iste, possimus modi eaque ipsa qui odit.
        </p>
        <blockquote class="news-accordion__content-quote">
          “consectetur adipiscing elit, sed do eiusmod tempor incididu ut labore et dolore magna”
        </blockquote>
        <p class="news-accordion__content-copy">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iure reiciendis dignissimos mollitia placeat, atque corrupti minima molestiae quam, dolorem quas expedita id ex qui nihil magnam eos molestias ipsam. Quasi.
        </p>
      </div>
      <div class="news-accordion__collage">
        <div class="news-accordion__collage-item" style="background-image: url(assets/resources/about-image-1.png)">
          <a href="#" class="button button--white">
            <span class="button__label">Details</span>
          </a>
        </div>
        <div class="news-accordion__collage-item" style="background-image: url(assets/resources/about-image-1.png)">
          <a href="#" class="button button--white">
            <span class="button__label">Details</span>
          </a>
        </div>
        <div class="news-accordion__collage-item" style="background-image: url(assets/resources/about-image-1.png)">
          <a href="#" class="button button--white">
            <span class="button__label">Details</span>
          </a>
        </div>
        <div class="news-accordion__collage-item" style="background-image: url(assets/resources/about-image-1.png)">
          <a href="#" class="button button--white">
            <span class="button__label">Details</span>
          </a>
        </div>
        <div class="news-accordion__collage-item" style="background-image: url(assets/resources/about-image-1.png)">
          <a href="#" class="button button--white">
            <span class="button__label">Details</span>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
