<section class="pillar-section">
  <a href="#" class="pillar-section__group">
    <img src="assets/resources/pillar-section__icon-1.svg"class="pillar-section__group-icon">
    <h5 class="pillar-section__group-title">
      Pillar Difference
    </h5>
    <p class="pillar-section__group-copy">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore.
    </p>
    <div href="#" class="button button--white button--arrow"><span class="button__label">More</span><span class="button__arrow">&rarr;</span></div>
  </a>
  <a href="#" class="pillar-section__group">
    <img src="assets/resources/pillar-section__icon-1.svg"class="pillar-section__group-icon">
    <h5 class="pillar-section__group-title">
      Pillar Difference
    </h5>
    <p class="pillar-section__group-copy">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore.
    </p>
    <div href="#" class="button button--white button--arrow"><span class="button__label">More</span><span class="button__arrow">&rarr;</span></div>
  </a>
  <a class="pillar-section__group">
    <img src="assets/resources/pillar-section__icon-1.svg"class="pillar-section__group-icon">
    <h5 class="pillar-section__group-title">
      Pillar Difference
    </h5>
    <p class="pillar-section__group-copy">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore.
    </p>
    <div href="#" class="button button--white button--arrow"><span class="button__label">More</span><span class="button__arrow">&rarr;</span></div>
  </a>
  <div class="pillar-section__background" style="background-image:url(assets/resources/pillar-section__background.png)"></div>
</section>
