<section class="success-stories">
  <div class="container success-stories__container">
    <div class="success-stories__nav">
      <header class="success-stories__header">
        <h4 class="eyebrow eyebrow--white success-stories__subtitle">
          2019
        </h4>
        <h2 class="success-stories__title">
          Success Stories
        </h2>
      </header>
      <div class="success-stories__nav-item success-stories__nav-item--active" data-item="0">
        <p class="success-stories__nav-item-number">01</p>
        <h3 class="success-stories__nav-item-title">
          Request
        </h3>
      </div>
      <div class="success-stories__nav-item" data-item="1">
        <p class="success-stories__nav-item-number">02</p>
        <h3 class="success-stories__nav-item-title">
          Create
        </h3>
      </div>
      <div class="success-stories__nav-item" data-item="2">
        <p class="success-stories__nav-item-number">03</p>
        <h3 class="success-stories__nav-item-title">
          Place
        </h3>
      </div>
      <div class="success-stories__nav-item" data-item="3">
        <p class="success-stories__nav-item-number">04</p>
        <h3 class="success-stories__nav-item-title">
          Receive
        </h3>
      </div>
    </div>
    <div class="success-stories__slider">
      <div class="success-stories__wrapper">
        <div class="success-stories__slider-item success-stories__slider-item--active" id="0">
          <img class="success-stories__icon" src="assets/resources/ss-icon.svg">
          <h5 class="success-stories__slider-title">
            company name here
          </h5>
          <p class="success-stories__slider-copy">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.
          </p>
          <a href="#" class="button button--arrow button--blue"><span class="button__label">Read Full Story</span><span class="button__arrow">&rarr;</span></a>
        </div>
        <div class="success-stories__slider-item" id="1">
          <img class="success-stories__icon" src="assets/resources/ss-icon.svg">
          <h5 class="success-stories__slider-title">
            company name here
          </h5>
          <p class="success-stories__slider-copy">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.
          </p>
          <a href="#" class="button button--arrow button--blue"><span class="button__label">Read Full Story</span><span class="button__arrow">&rarr;</span></a>
        </div>
        <div class="success-stories__slider-item" id="2">
          <img class="success-stories__icon" src="assets/resources/ss-icon.svg">
          <h5 class="success-stories__slider-title">
            company name here
          </h5>
          <p class="success-stories__slider-copy">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.
          </p>
          <a href="#" class="button button--arrow button--blue"><span class="button__label">Read Full Story</span><span class="button__arrow">&rarr;</span></a>
        </div>
        <div class="success-stories__slider-item" id="3">
          <img class="success-stories__icon" src="assets/resources/ss-icon.svg">
          <h5 class="success-stories__slider-title">
            company name here
          </h5>
          <p class="success-stories__slider-copy">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.
          </p>
          <a href="#" class="button button--arrow button--blue"><span class="button__label">Read Full Story</span><span class="button__arrow">&rarr;</span></a>
        </div>
      </div>
    </div>
  </div>
  <div class="success-stories__background"  style="background-image:url('assets/resources/ss-bg.png')"></div>
</section>
