  </main>

  <footer class="footer-global">
    <div class="footer-global__container container">
      <a href="#" class="footer-global__logo">
        <img src="assets/resources/logo.svg" alt="Stellar Auth Logo">
        StellarAuth
      </a>

      <nav class="footer-global__nav">
        <a href="#" class="footer-global__nav-item">Docs</a>
        <a href="#" class="footer-global__nav-item">Demo</a>
        <a href="#" class="footer-global__nav-item">Download</a>
      </nav>
    </div>
  </footer>

@@include('../partials/html-end.html')
