@@include('../partials/html-end.html')

<footer class="footer-global">
	<div class="footer-global__section contact">
		<div class="footer-global__section-wrapper">
			<div class="contact">
				<h3 class="footer-global__section-title contact__title">
					Contact Info
				</h3>
				<p class="contact__address">
					1000 Wilson Street. Suite 200<br>
					Chicago, IL 60601
				</p>
				<p class="contact__link">
					<strong>P</strong>
					<a class="link" href="tel:3128124500">312.812.4500</a>
				</p>
				<p class="contact__link">
					<strong>E</strong>
					<a href="mailto:info@ventureginc.com">info@ventureginc.com</a>
				</p>
			</div>
			<div class="newsletter">
				<h3 class="footer-global__section-title newsletter__title">
					Newsletter
				</h3>
				<div class="input-plus">
					<noscript class="ninja-forms-noscript-message">
						Notice: JavaScript is required for this content.</noscript>
					<div id="nf-form-4-cont" class="nf-form-cont" aria-live="polite" aria-labelledby="nf-form-title-4" aria-describedby="nf-form-errors-4" role="form">
						<span id="nf-form-title-4" class="nf-form-title">
							<h3>Newsletter</h3>
						</span>
						<div class="nf-form-wrap ninja-forms-form-wrap">
							<div class="nf-response-msg"></div>
							<div class="nf-debug-msg"></div>
							<div class="nf-before-form">
								<nf-section>

								</nf-section>
							</div>
							<div class="nf-form-layout">
								<form>
									<div>
										<div class="nf-before-form-content">
											<nf-section>
												<div class="nf-form-fields-required">Fields marked with an <span class="ninja-forms-req-symbol">*</span> are required</div>

											</nf-section>
										</div>
										<div class="nf-form-content ">
											<nf-fields-wrap>
												<nf-field>
													<div id="nf-field-17-container" class="nf-field-container email-container  label-above ">
														<div class="nf-before-field">
															<nf-section>

															</nf-section>
														</div>
														<div class="nf-field">
															<div id="nf-field-17-wrap" class="field-wrap email-wrap" data-field-id="17">



																<div class="nf-field-label"><label for="nf-field-17" id="nf-label-field-17" class="">Email <span class="ninja-forms-req-symbol">*</span> </label></div>


																<div class="nf-field-element">
																	<input placeholder="Email" type="email" value="" class="ninja-forms-field nf-element" id="nf-field-17" name="email" autocomplete="email" aria-invalid="false" aria-describedby="nf-error-17" aria-labelledby="nf-label-field-17" required="">
																</div>


															</div>
														</div>
														<div class="nf-after-field">
															<nf-section>

																<div class="nf-input-limit"></div>

																<div id="nf-error-17" class="nf-error-wrap nf-error" role="alert"></div>


															</nf-section>
														</div>
													</div>
												</nf-field>
												<nf-field>
													<div id="nf-field-18-container" class="nf-field-container submit-container  label-above  textbox-container">
														<div class="nf-before-field">
															<nf-section>

															</nf-section>
														</div>
														<div class="nf-field">
															<div id="nf-field-18-wrap" class="field-wrap submit-wrap textbox-wrap" data-field-id="18">
																<div class="nf-field-label"></div>
																<div class="nf-field-element">
																	<input id="nf-field-18" class="ninja-forms-field nf-element " type="button" value="Sign Up">
																</div>
																<div class="nf-error-wrap"></div>
															</div>
														</div>
														<div class="nf-after-field">
															<nf-section>

																<div class="nf-input-limit"></div>

																<div id="nf-error-18" class="nf-error-wrap nf-error" role="alert"></div>


															</nf-section>
														</div>
													</div>
												</nf-field>
											</nf-fields-wrap>
										</div>
										<div class="nf-after-form-content">
											<nf-section>

												<div id="nf-form-errors-4" class="nf-form-errors" role="alert">
													<nf-errors></nf-errors>
												</div>
												<div class="nf-form-hp">
													<nf-section>
														<label for="nf-field-hp-4" aria-hidden="true">

															<input id="nf-field-hp-4" name="nf-field-hp" class="nf-element nf-field-hp" type="text" value="">
														</label>
													</nf-section>
												</div>
											</nf-section>
										</div>
									</div>
								</form>
							</div>
							<div class="nf-after-form">
								<nf-section>

								</nf-section>
							</div>
						</div>
					</div>
					<!-- TODO: Move to Template File. -->
					<script>
						var formDisplay = 1;
						var nfForms = nfForms || [];
						var form = [];
						form.id = '4';
						form.settings = {
							"objectType": "Form Setting",
							"editActive": false,
							"title": "Newsletter",
							"show_title": 1,
							"clear_complete": 1,
							"hide_complete": 1,
							"default_label_pos": "above",
							"wrapper_class": "",
							"element_class": "",
							"key": "",
							"add_submit": 0,
							"currency": "",
							"unique_field_error": "A form with this value has already been submitted.",
							"logged_in": false,
							"not_logged_in_msg": "",
							"sub_limit_msg": "The form has reached its submission limit.",
							"calculations": [],
							"formContentData": ["email_1554557572061", "sign_up_1554557591063"],
							"ninjaForms": "Ninja Forms",
							"changeEmailErrorMsg": "Please enter a valid email address!",
							"changeDateErrorMsg": "Please enter a valid date!",
							"confirmFieldErrorMsg": "These fields must match!",
							"fieldNumberNumMinError": "Number Min Error",
							"fieldNumberNumMaxError": "Number Max Error",
							"fieldNumberIncrementBy": "Please increment by ",
							"fieldTextareaRTEInsertLink": "Insert Link",
							"fieldTextareaRTEInsertMedia": "Insert Media",
							"fieldTextareaRTESelectAFile": "Select a file",
							"formErrorsCorrectErrors": "Please correct errors before submitting this form.",
							"validateRequiredField": "This is a required field.",
							"honeypotHoneypotError": "Honeypot Error",
							"fileUploadOldCodeFileUploadInProgress": "File Upload in Progress.",
							"fileUploadOldCodeFileUpload": "FILE UPLOAD",
							"currencySymbol": false,
							"fieldsMarkedRequired": "Fields marked with an <span class=\"ninja-forms-req-symbol\">*<\/span> are required",
							"thousands_sep": ",",
							"decimal_point": ".",
							"siteLocale": "en_US",
							"dateFormat": "m\/d\/Y",
							"startOfWeek": "1",
							"of": "of",
							"previousMonth": "Previous Month",
							"nextMonth": "Next Month",
							"months": ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"],
							"monthsShort": ["Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"],
							"weekdays": ["Sunday", "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday"],
							"weekdaysShort": ["Sun", "Mon", "Tue", "Wed", "Thu", "Fri", "Sat"],
							"weekdaysMin": ["Su", "Mo", "Tu", "We", "Th", "Fr", "Sa"],
							"currency_symbol": "",
							"beforeForm": "",
							"beforeFields": "",
							"afterFields": "",
							"afterForm": ""
						};
						form.fields = [{
							"objectType": "Field",
							"objectDomain": "fields",
							"editActive": false,
							"order": 1,
							"type": "email",
							"label": "Email",
							"key": "email_1554557572061",
							"label_pos": "above",
							"required": 1,
							"default": "",
							"placeholder": "",
							"container_class": "",
							"element_class": "",
							"admin_label": "",
							"help_text": "",
							"custom_name_attribute": "email",
							"personally_identifiable": 1,
							"drawerDisabled": false,
							"id": 17,
							"beforeField": "",
							"afterField": "",
							"parentType": "email",
							"element_templates": ["email", "input"],
							"old_classname": "",
							"wrap_template": "wrap"
						}, {
							"objectType": "Field",
							"objectDomain": "fields",
							"editActive": false,
							"order": 999,
							"type": "submit",
							"label": "Sign Up",
							"processing_label": "Processing",
							"container_class": "",
							"element_class": "",
							"key": "sign_up_1554557591063",
							"drawerDisabled": false,
							"id": 18,
							"beforeField": "",
							"afterField": "",
							"label_pos": "above",
							"parentType": "textbox",
							"element_templates": ["submit", "button", "input"],
							"old_classname": "",
							"wrap_template": "wrap-no-label"
						}];
						nfForms.push(form);
					</script>

				</div>
			</div>
		</div>
	</div>
	<div class="footer-global__section">
		<div class="footer-global__section-wrapper">
			<h3 class="footer-global__section-title contact__title">
				Questions
			</h3>
			<div class="contact-form contact-form--basic">
				<form>
					<div>
						<div class="nf-before-form-content">
							<nf-section>
								<div class="nf-form-fields-required">Fields marked with an <span class="ninja-forms-req-symbol">*</span> are required</div>

							</nf-section>
						</div>
						<div class="nf-form-content ">
							<nf-fields-wrap>
								<nf-field>
									<div id="nf-field-13-container" class="nf-field-container textbox-container  label-above ">
										<div class="nf-before-field">
											<nf-section>

											</nf-section>
										</div>
										<div class="nf-field">
											<div id="nf-field-13-wrap" class="field-wrap textbox-wrap" data-field-id="13">



												<div class="nf-field-label"><label for="nf-field-13" id="nf-label-field-13" class="">Name <span class="ninja-forms-req-symbol">*</span> </label></div>


												<div class="nf-field-element">
													<input placeholder="Name" type="text" value="" class="ninja-forms-field nf-element" id="nf-field-13" name="nf-field-13" aria-invalid="false" aria-describedby="nf-error-13" aria-labelledby="nf-label-field-13" required="">
												</div>


											</div>
										</div>
										<div class="nf-after-field">
											<nf-section>

												<div class="nf-input-limit"></div>

												<div id="nf-error-13" class="nf-error-wrap nf-error" role="alert"></div>


											</nf-section>
										</div>
									</div>
								</nf-field>
								<nf-field>
									<div id="nf-field-14-container" class="nf-field-container email-container  label-above ">
										<div class="nf-before-field">
											<nf-section>

											</nf-section>
										</div>
										<div class="nf-field">
											<div id="nf-field-14-wrap" class="field-wrap email-wrap" data-field-id="14">



												<div class="nf-field-label"><label for="nf-field-14" id="nf-label-field-14" class="">Email </label></div>


												<div class="nf-field-element">
													<input placeholder="Email" type="email" value="" class="ninja-forms-field nf-element" id="nf-field-14" name="email" autocomplete="email" aria-invalid="false" aria-describedby="nf-error-14" aria-labelledby="nf-label-field-14">
												</div>


											</div>
										</div>
										<div class="nf-after-field">
											<nf-section>

												<div class="nf-input-limit"></div>

												<div id="nf-error-14" class="nf-error-wrap nf-error" role="alert"></div>


											</nf-section>
										</div>
									</div>
								</nf-field>
								<nf-field>
									<div id="nf-field-15-container" class="nf-field-container textarea-container  label-above ">
										<div class="nf-before-field">
											<nf-section>

											</nf-section>
										</div>
										<div class="nf-field">
											<div id="nf-field-15-wrap" class="field-wrap textarea-wrap" data-field-id="15">



												<div class="nf-field-label"><label for="nf-field-15" id="nf-label-field-15" class="">Message <span class="ninja-forms-req-symbol">*</span> </label></div>


												<div class="nf-field-element">
													<textarea placeholder="Message" id="nf-field-15" name="nf-field-15" aria-invalid="false" aria-describedby="nf-error-15" class="ninja-forms-field nf-element" aria-labelledby="nf-label-field-15" required=""></textarea>
												</div>


											</div>
										</div>
										<div class="nf-after-field">
											<nf-section>

												<div class="nf-input-limit"></div>

												<div id="nf-error-15" class="nf-error-wrap nf-error" role="alert"></div>


											</nf-section>
										</div>
									</div>
								</nf-field>
								<nf-field>
									<div id="nf-field-16-container" class="nf-field-container submit-container  label-above  textbox-container">
										<div class="nf-before-field">
											<nf-section>

											</nf-section>
										</div>
										<div class="nf-field">
											<div id="nf-field-16-wrap" class="field-wrap submit-wrap textbox-wrap" data-field-id="16">
												<div class="nf-field-label"></div>
												<div class="nf-field-element">
													<input id="nf-field-16" class="ninja-forms-field nf-element " type="button" value="Submit Inquiry">
												</div>
												<div class="nf-error-wrap"></div>
											</div>
										</div>
										<div class="nf-after-field">
											<nf-section>

												<div class="nf-input-limit"></div>

												<div id="nf-error-16" class="nf-error-wrap nf-error" role="alert"></div>


											</nf-section>
										</div>
									</div>
								</nf-field>
							</nf-fields-wrap>
						</div>
						<div class="nf-after-form-content">
							<nf-section>

								<div id="nf-form-errors-3" class="nf-form-errors" role="alert">
									<nf-errors></nf-errors>
								</div>
								<div class="nf-form-hp">
									<nf-section>
										<label for="nf-field-hp-3" aria-hidden="true">

											<input id="nf-field-hp-3" name="nf-field-hp" class="nf-element nf-field-hp" type="text" value="">
										</label>
									</nf-section>
								</div>
							</nf-section>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
	<div class="footer-global__section">
		<div class="footer-global__section-wrapper">
			<nav class="nav-global">
				<a href="#" class="nav-global__item">Home</a>
				<a href="#" class="nav-global__item">About</a>
				<a href="#" class="nav-global__item">Portfolio</a>
				<a href="#" class="nav-global__item">Use Cases</a>
				<a href="#" class="nav-global__item">Contact</a>
			</nav>
		</div>
	</div>
	<div class="footer-global__legal">
		<small class="footer-global__legal-item">©2019 Venture G, Inc. All rights reserved</small>
		<a href="#" class="footer-global__legal-link footer-global__legal-item">Privacy Policy</a>
		<a href="#" class="footer-global__legal-link footer-global__legal-item">Terms & Conditions</a>
	</div>
</footer>
