@@include('../partials/html-start.html')

<header class="header-global">
  <div class="container header-global__container">
    <a href="#" class="header-global__logo">
      <img src="assets/resources/logo.svg">
    </a>
  </div>
  <div class="nav-global__trigger">
    <a href="#" class="nav-global__trigger-icon">
      <div class="nav-global__trigger-icon-line nav-global__trigger-icon-top">
        <span class="nav-global__trigger-icon-left"></span>
        <span class="nav-global__trigger-icon-right"></span>
      </div>
      <div class="nav-global__trigger-icon-line nav-global__trigger-icon-mid">
        <span class="nav-global__trigger-icon-left"></span>
        <span class="nav-global__trigger-icon-right"></span>
      </div>
      <div class="nav-global__trigger-icon-line nav-global__trigger-icon-bot">
        <span class="nav-global__trigger-icon-left"></span>
        <span class="nav-global__trigger-icon-right"></span>
      </div>
    </a>
  </div>
  <nav class="nav-global">
    <a href="#" class="nav-global__item">Home</a>
    <a href="#" class="nav-global__item">About</a>
    <a href="#" class="nav-global__item">Portfolio</a>
    <a href="#" class="nav-global__item">In The News</a>
    <a href="#" class="nav-global__item">Use Cases</a>
    <a href="#" class="nav-global__item">Contact</a>
  </nav>
</header>
