@@include('../partials/html-start.html')

<header class="header-global">
  <div class="header-global__container container">
    <a href="/" class="header-global__logo">
      @@include('../../assets/resources/logo.svg')
      StellarAuth
    </a>

    <nav class="header-global__nav">
      <a href="https://www.notion.so/stellarauth/StellarAuth-085c9270636b4196979dc49cf296cf03" class="header-global__nav-item">Docs</a>
      <a href="https://sa-glitch-demo.glitch.me" class="header-global__nav-item">Demo</a>
      <a href="/download.html" class="header-global__nav-item">Download</a>
    </nav>
  </div>
</header>
