@@include('../partials/html-start.html')

<header class="header-global">
  <div class="header-global__container container">
    <a href="#" class="header-global__logo">
      <!-- <img src="assets/resources/logo.svg" alt="Stellar Auth Logo"> -->
      @@include('../../assets/resources/logo.svg')
      StellarAuth
    </a>

    <nav class="header-global__nav">
      <a href="#" class="header-global__nav-item">Docs</a>
      <a href="#" class="header-global__nav-item">Demo</a>
      <a href="#" class="header-global__nav-item">Download</a>
    </nav>
  </div>
</header>
