<!doctype html>
<html lang="en">
<head>
  <title>Project Name</title>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- <link href="https://fonts.googleapis.com/css?family=Prompt:400,700|Rubik:400,400i&display=swap" rel="stylesheet"> -->
  <link href="https://fonts.googleapis.com/css?family=Didact+Gothic|Prompt:400,700&display=swap" rel="stylesheet">

  <link rel="stylesheet" type="text/css" href="assets/styles/application.css">
</head>
<body class="">
  <div class="body-wrapper">
